<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coderhouse Vue.js - Clase 3</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script defer src="scripts/app.js"></script>
</head>
<body>
    <div id="app">
        <h1>Clase 3</h1>
        <div :class="modoOscuro ? 'dark' : 'light'">

            <p v-if="tienePiojitos" lass="saludo">{{piojitosMsg}}!</p>
            <p v-else>No tiene piojitos</p>
            
            <p v-if="mostrarMsg">Ahora me ves...</p>
            <button @click="toggleMsg">{{ textBtn }}</button>

            <button @click="changeTheme">Cambiar tema</button>

        </div>
    </div>
</body>
</html>